@model ASP_Test.Models.ClassForm
@{
    Layout = "LayoutAdmin";

}
<h7>Note:If returned to this page when trying to submit, the year syntax is wrong. It should be a four digit number</h7>

    <form method="post" action="CreateClass">
    <div class="mb-3">
        <h4>Name of class</h4>
        @Html.TextBoxFor(c=>c.ClassName,new {@class="form-control", @maxlength="50"})
        <h4>Course Code</h4>
        @Html.TextBoxFor(c=>c.CourseCode,new {@class="form-control", @maxlength="6"})
        <h4>Category (i.e. CSC, MTH, COR, etc.)</h4>
        @Html.TextBoxFor(c=>c.Category,new {@class="form-control", @maxlength="4"})
        <h4>Prerequisites classes in the form of a list separated by commas "CSC360, CSC340. Leave Blank if none"</h4>
        @Html.TextBoxFor(c=>c.Prerequisites,new {@class="form-control", @maxlength="30"})
        <h6>Offered in Fall</h6>
        @Html.CheckBoxFor(c=>c.InFall)
        <h6>Offered in Spring</h6>
        @Html.CheckBoxFor(c=>c.InSpring)
        <h6>Offered in Summer</h6>
        @Html.CheckBoxFor(c=>c.InSummer)
        <h6>Still offered in current semesters (this determines if a student will have to mark it complete from a past semester or if they can still put it in their plan</h6>
        @Html.CheckBoxFor(c=>c.IsOffered)

    </div>

    <button type="submit" class="btn btn-danger">Submit</button>
</form>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("AdminClass", "Home")'">Back To Class Editor</button>


