@model ASP_Test.Models.TestModel

@{
    ViewData["Title"] = "Testing";
}
<h1>@ViewData["Title"]</h1>
<h1>@Model.CourseCode</h1>
<h1>@Model.SemesterID</h1>
<h1>@Model.SemesterName</h1>
<h1>@Model.index</h1>